:root {
  --background: #ffffff;
  --foreground: #171717;

  color-scheme: light dark;

  @media (prefers-color-scheme: dark) {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--foreground);
  background: var(--background);
  margin: 0;
}

main {
  padding: 2rem;
}
